<form class='search' action='/'>
  <input name='tournament' placeholder='Sök tävling' value='{{.Name}}' autofocus/>
  <a target='_blank' href='http://badmintonsweden.tournamentsoftware.com/'>
    Hitta din tävling på Badminton Sweden!
  </a>
</form>

<ul>
  {{range $match := .Matches}}
  <li>
    <div class='date'>{{$match.Date}}</div>
    <div class='planned-time'>{{$match.PlannedTime}}</div>
    <div class='draw'><a href='{{$match.Draw.Url}}'>{{$match.Draw.Name}}</a></div>
    <div class='left'>
      {{range $player := $match.Left.Players}}
      <a href='{{$player.Url}}'>{{$player.Name}}</a>
      {{end}}
    </div>
    <div class='team-separator'>—</div>
    <div class='right'>
      {{range $player := $match.Right.Players}}
      <a href='{{$player.Url}}'>{{$player.Name}}</a>
      {{end}}
    </div>
    <div class='result'>{{$match.Result}}</div>
  </li>
  {{end}}
</ul>
